In [1]:
import os
import pandas as pd
import numpy as np

dataset_location = '../SRPBS_OPEN/' # made a hard link to the dataset here
np.random.seed(1) # for reproducible random sampling

In [2]:
participants = pd.read_table(dataset_location+'participants.tsv')
participants

     participant_id site  protocol  diag  age  sex  hand  sup
0          sub-0001  SWA         1     0   23    1   1.0    1
1          sub-0002  SWA         1     0   23    2   1.0    1
2          sub-0003  SWA         1     0   26    1   1.0    1
3          sub-0004  SWA         1     0   23    1   1.0    1
4          sub-0005  SWA         1     0   24    1   1.0    1
...             ...  ...       ...   ...  ...  ...   ...  ...
1405       sub-1406  CIN        14     5   36    1   1.0    8
1406       sub-1407  CIN        14     5   56    2   1.0    8
1407       sub-1408  CIN        14     5   34    2   1.0    8
1408       sub-1409  CIN        14     5   56    1   1.0    8
1409       sub-1410  CIN        14     5   27    1   1.0    8

[1410 rows x 8 columns]

In [3]:
healthy_controls = participants[participants['diag'] == 0]
mdd_patients = participants[participants['diag'] == 2]

In [4]:
mdd_patients['site'].value_counts()

COI    71
UTO    62
HUH    57
HKH    33
KUT    16
HRC    16
Name: site, dtype: int64

In [5]:
healthy_controls['site'].value_counts()

KUT    159
COI    124
SWA    101
UTO     96
KTT     75
HUH     67
HRC     49
CIN     39
ATV     39
HKH     29
ATT     13
Name: site, dtype: int64

COI seems like a nice site to take a subset from, and it's the first site used in the discovery dataset in the paper. 124 HC and 70 MDD are used from this site in the paper, which matches the estimates above. Maybe 1 MDD patient had to be filtered out.

In [6]:
sample_size = 20
healthy_controls_sample = healthy_controls[healthy_controls['site'] == 'COI'].sample(n=sample_size)
mdd_patients_sample = mdd_patients[mdd_patients['site'] == 'COI'].sample(n=sample_size)

In [7]:
healthy_controls_sample

    participant_id site  protocol  diag  age  sex  hand  sup
581       sub-0582  COI         5     0   65    1   1.0    2
659       sub-0660  COI         5     0   49    2   1.0    2
618       sub-0619  COI         5     0   26    1   1.0    2
651       sub-0652  COI         5     0   35    2   1.0    2
575       sub-0576  COI         5     0   60    1   1.0    2
547       sub-0548  COI         5     0   67    1   1.0    2
612       sub-0613  COI         5     0   56    1   1.0    2
577       sub-0578  COI         5     0   68    1   1.0    2
643       sub-0644  COI         5     0   48    2   1.0    2
628       sub-0629  COI         5     0   69    2   1.0    2
660       sub-0661  COI         5     0   45    2   1.0    2
551       sub-0552  COI         5     0   61    2   1.0    2
645       sub-0646  COI         5     0   20    2   1.0    2
662       sub-0663  COI         5     0   61    2   1.0    2
647       sub-0648  COI         5     0   22    2   1.0    2
666       sub-0667  COI         5     0   43    2   1.0    2
490       sub-0491  COI         5     0   38    1   1.0    2
634       sub-0635  COI         5     0   43    2   1.0    2
655       sub-0656  COI         5     0   48    2   1.0    2
587       sub-0588  COI         5     0   79    2   1.0    2

In [8]:
mdd_patients_sample

     participant_id site  protocol  diag  age  sex  hand  sup
520        sub-0521  COI         5     2   43    2   1.0    2
1013       sub-1014  COI         5     2   46    2   1.0    2
493        sub-0494  COI         5     2   42    2   1.0    2
1012       sub-1013  COI         5     2   31    1   1.0    2
580        sub-0581  COI         5     2   41    2   1.0    2
540        sub-0541  COI         5     2   71    2   1.0    2
592        sub-0593  COI         5     2   75    2   1.0    2
560        sub-0561  COI         5     2   47    1   1.0    2
495        sub-0496  COI         5     2   33    1   1.0    2
584        sub-0585  COI         5     2   56    1   1.0    2
582        sub-0583  COI         5     2   33    2   1.0    2
542        sub-0543  COI         5     2   41    2   1.0    2
574        sub-0575  COI         5     2   33    2   1.0    2
506        sub-0507  COI         5     2   46    2   1.0    2
1011       sub-1012  COI         5     2   40    1   1.0    2
504        sub-0505  COI         5     2   43    1   1.0    2
568        sub-0569  COI         5     2   69    2   1.0    2
588        sub-0589  COI         5     2   49    1   1.0    2
594        sub-0595  COI         5     2   48    2   1.0    2
510        sub-0511  COI         5     2   36    1   1.0    2

In [9]:
healthy_controls_sample_ids = sorted([int(id_str.split('-')[1]) for id_str in healthy_controls_sample['participant_id'].to_list()])
mdd_patients_sample_ids = sorted([int(id_str.split('-')[1]) for id_str in mdd_patients_sample['participant_id'].to_list()])
with open('hc_sample.txt','w') as f:
    f.write(str(healthy_controls_sample_ids))
with open('mdd_sample.txt','w') as f:
    f.write(str(mdd_patients_sample_ids))

In [115]:
def match_sample_by_age(sample1, sample2, threshold=None):
    cost_matrix = abs(sample1['age'].to_numpy().reshape(-1,1) - sample2['age'].to_numpy())
    row_ind, col_ind = linear_sum_assignment(cost_matrix)
    costs = cost_matrix[row_ind, col_ind]
    sorted_order = np.argsort(costs)
    if threshold is None:
        return[[sample1.iloc[row],sample2.iloc[col]] for row, col in zip(row_ind[sorted_order], col_ind[sorted_order])], costs.sum()
    else:
        return[[sample1.iloc[row],sample2.iloc[col]] for row, col in zip(row_ind[sorted_order], col_ind[sorted_order]) if cost_matrix[row,col] <= threshold], costs.sum()

In [116]:
age_match, cost = match_sample_by_age(mdd_patients[mdd_patients['site'] == 'COI'], healthy_controls[healthy_controls['site'] == 'COI'])

In [117]:
age_match

col                 5
  diag                     0
  age                     45
  sex                      2
  hand                   1.0
  sup                      2
  Name: 503, dtype: object],
 [participant_id    sub-0505
  site                   COI
  protocol                 5
  diag                     2
  age                     43
  sex                      1
  hand                   1.0
  sup                      2
  Name: 504, dtype: object,
  participant_id    sub-0635
  site                   COI
  protocol                 5
  diag                     0
  age                     43
  sex                      2
  hand                   1.0
  sup                      2
  Name: 634, dtype: object],
 [participant_id    sub-0507
  site                   COI
  protocol                 5
  diag                     2
  age                     46
  sex                      2
  hand                   1.0
  sup                      2
  Name: 506, dtype: object,
  participant_id    sub-0501
  site                   COI
  protocol                 5
  diag                     0
  age                     46
  sex                      2
  hand                   1.0
  sup                      2
  Name: 500, dtype: object],
 [participant_id    sub-0509
  site                   COI
  protocol                 5
  diag                     2
  age                     40
  sex                      1
  hand                   1.0
  sup                      2
  Name: 508, dtype: object,
  participant_id    sub-0506
  site                   COI
  protocol                 5
  diag                     0
  age                     40
  sex                      2
  hand                   1.0
  sup                      2
  Name: 505, dtype: object],
 [participant_id    sub-0511
  site                   COI
  protocol                 5
  diag                     2
  age                     36
  sex                      1
  hand                   1.0
  sup                      2
  Name: 510, dtype: object,
  participant_id    sub-0493
  site                   COI
  protocol                 5
  diag                     0
  age                     36
  sex                      1
  hand                   1.0
  sup                      2
  Name: 492, dtype: object],
 [participant_id    sub-0513
  site                   COI
  protocol                 5
  diag                     2
  age                     51
  sex                      1
  hand                   1.0
  sup                      2
  Name: 512, dtype: object,
  participant_id    sub-0615
  site                   COI
  protocol                 5
  diag                     0
  age                     51
  sex                      1
  hand                   1.0
  sup                      2
  Name: 614, dtype: object],
 [participant_id    sub-0537
  site                   COI
  protocol                 5
  diag                     2
  age                     40
  sex                      1
  hand                   1.0
  sup                      2
  Name: 536, dtype: object,
  participant_id    sub-0512
  site                   COI
  protocol                 5
  diag                     0
  age                     40
  sex                      1
  hand                   1.0
  sup                      2
  Name: 511, dtype: object],
 [participant_id    sub-0517
  site                   COI
  protocol                 5
  diag                     2
  age                     66
  sex                      2
  hand                   1.0
  sup                      2
  Name: 516, dtype: object,
  participant_id    sub-0495
  site                   COI
  protocol                 5
  diag                     0
  age                     66
  sex                      1
  hand                   1.0
  sup                      2
  Name: 494, dtype: object],
 [participant_id    sub-0519
  site                   COI
  protocol                 5
  diag                     2
  age                     38
  sex                      1
  hand                   1.0
  sup                      2
  Name: 518, dtype: object,
  participant_id    sub-0491
  site                   COI
  protocol                 5
  diag                     0
  age                     38
  sex                      1
  hand                   1.0
  sup                      2
  Name: 490, dtype: object],
 [participant_id    sub-1295
  site                   COI
  protocol                 5
  diag                     2
  age                     57
  sex                      2
  hand                   1.0
  sup                      2
  Name: 1294, dtype: object,
  participant_id    sub-0641
  site                   COI
  protocol                 5
  diag                     0
  age                     57
  sex                      2
  hand                   1.0
  sup                      2
  Name: 640, dtype: object],
 [participant_id    sub-0523
  site                   COI
  protocol                 5
  diag                     2
  age                     44
  sex                      2
  hand                   1.0
  sup                      2
  Name: 522, dtype: object,
  participant_id    sub-0516
  site                   COI
  protocol                 5
  diag                     0
  age                     44
  sex                      2
  hand                   1.0
  sup                      2
  Name: 515, dtype: object],
 [participant_id    sub-0533
  site                   COI
  protocol                 5
  diag                     2
  age                     37
  sex                      1
  hand                   1.0
  sup                      2
  Name: 532, dtype: object,
  participant_id    sub-0621
  site                   COI
  protocol                 5
  diag                     0
  age                     37
  sex                      2
  hand                   1.0
  sup                      2
  Name: 620, dtype: object],
 [participant_id    sub-0531
  site                   COI
  protocol                 5
  diag                     2
  age                     46
  sex                      1
  hand                   1.0
  sup                      2
  Name: 530, dtype: object,
  participant_id    sub-0520
  site                   COI
  protocol                 5
  diag                     0
  age                     46
  sex                      1
  hand                   1.0
  sup                      2
  Name: 519, dtype: object],
 [participant_id    sub-0529
  site                   COI
  protocol                 5
  diag                     2
  age                     47
  sex                      1
  hand                   1.0
  sup                      2
  Name: 528, dtype: object,
  participant_id    sub-0546
  site                   COI
  protocol                 5
  diag                     0
  age                     47
  sex                      2
  hand                   1.0
  sup                      2
  Name: 545, dtype: object],
 [participant_id    sub-0521
  site                   COI
  protocol                 5
  diag                     2
  age                     43
  sex                      2
  hand                   1.0
  sup                      2
  Name: 520, dtype: object,
  participant_id    sub-0649
  site                   COI
  protocol                 5
  diag                     0
  age                     43
  sex                      2
  hand                   1.0
  sup                      2
  Name: 648, dtype: object],
 [participant_id    sub-0525
  site                   COI
  protocol                 5
  diag                     2
  age                     70
  sex                      2
  hand                   1.0
  sup                      2
  Name: 524, dtype: object,
  participant_id    sub-0590
  site                   COI
  protocol                 5
  diag                     0
  age                     70
  sex                      1
  hand                   1.0
  sup                      2
  Name: 589, dtype: object],
 [participant_id    sub-0527
  site                   COI
  protocol                 5
  diag                     2
  age                     26
  sex                      1
  hand                   1.0
  sup                      2
  Name: 526, dtype: object,
  participant_id    sub-0619
  site                   COI
  protocol                 5
  diag                     0
  age                     26
  sex                      1
  hand                   1.0
  sup                      2
  Name: 618, dtype: object],
 [participant_id    sub-1017
  site                   COI
  protocol                 5
  diag                     2
  age                     35
  sex                      1
  hand                   2.0
  sup                      2
  Name: 1016, dtype: object,
  participant_id    sub-0497
  site                   COI
  protocol                 5
  diag                     0
  age                     36
  sex                      1
  hand                   1.0
  sup                      2
  Name: 496, dtype: object],
 [participant_id    sub-0545
  site                   COI
  protocol                 5
  diag                     2
  age                     39
  sex                      2
  hand                   1.0
  sup                      2
  Name: 544, dtype: object,
  participant_id    sub-0528
  site                   COI
  protocol                 5
  diag                     0
  age                     38
  sex                      1
  hand                   1.0
  sup                      2
  Name: 527, dtype: object],
 [participant_id    sub-0606
  site                   COI
  protocol                 5
  diag                     2
  age                     50
  sex                      1
  hand                   1.0
  sup                      2
  Name: 605, dtype: object,
  participant_id    sub-0625
  site                   COI
  protocol                 5
  diag                     0
  age                     49
  sex                      2
  hand                   1.0
  sup                      2
  Name: 624, dtype: object],
 [participant_id    sub-0551
  site                   COI
  protocol                 5
  diag                     2
  age                     63
  sex                      2
  hand                   1.0
  sup                      2
  Name: 550, dtype: object,
  participant_id    sub-0580
  site                   COI
  protocol                 5
  diag                     0
  age                     64
  sex                      2
  hand                   1.0
  sup                      2
  Name: 579, dtype: object],
 [participant_id    sub-0553
  site                   COI
  protocol                 5
  diag                     2
  age                     37
  sex                      2
  hand                   1.0
  sup                      2
  Name: 552, dtype: object,
  participant_id    sub-0669
  site                   COI
  protocol                 5
  diag                     0
  age                     38
  sex                      2
  hand                   1.0
  sup                      2
  Name: 668, dtype: object],
 [participant_id    sub-0581
  site                   COI
  protocol                 5
  diag                     2
  age                     41
  sex                      2
  hand                   1.0
  sup                      2
  Name: 580, dtype: object,
  participant_id    sub-0645
  site                   COI
  protocol                 5
  diag                     0
  age                     42
  sex                      2
  hand                   1.0
  sup                      2
  Name: 644, dtype: object],
 [participant_id    sub-0563
  site                   COI
  protocol                 5
  diag                     2
  age                     34
  sex                      1
  hand                   1.0
  sup                      2
  Name: 562, dtype: object,
  participant_id    sub-0526
  site                   COI
  protocol                 5
  diag                     0
  age                     35
  sex                      1
  hand                   1.0
  sup                      2
  Name: 525, dtype: object],
 [participant_id    sub-0587
  site                   COI
  protocol                 5
  diag                     2
  age                     62
  sex                      2
  hand                   1.0
  sup                      2
  Name: 586, dtype: object,
  participant_id    sub-0558
  site                   COI
  protocol                 5
  diag                     0
  age                     61
  sex                      2
  hand                   1.0
  sup                      2
  Name: 557, dtype: object],
 [participant_id    sub-0579
  site                   COI
  protocol                 5
  diag                     2
  age                     39
  sex                      2
  hand                   1.0
  sup                      2
  Name: 578, dtype: object,
  participant_id    sub-0586
  site                   COI
  protocol                 5
  diag                     0
  age                     40
  sex                      1
  hand                   1.0
  sup                      2
  Name: 585, dtype: object],
 [participant_id    sub-0575
  site                   COI
  protocol                 5
  diag                     2
  age                     33
  sex                      2
  hand                   1.0
  sup                      2
  Name: 574, dtype: object,
  participant_id    sub-0652
  site                   COI
  protocol                 5
  diag                     0
  age                     35
  sex                      2
  hand                   1.0
  sup                      2
  Name: 651, dtype: object],
 [participant_id    sub-0565
  site                   COI
  protocol                 5
  diag                     2
  age                     41
  sex                      1
  hand                   1.0
  sup                      2
  Name: 564, dtype: object,
  participant_id    sub-0667
  site                   COI
  protocol                 5
  diag                     0
  age                     43
  sex                      2
  hand                   1.0
  sup                      2
  Name: 666, dtype: object],
 [participant_id    sub-0583
  site                   COI
  protocol                 5
  diag                     2
  age                     33
  sex                      2
  hand                   1.0
  sup                      2
  Name: 582, dtype: object,
  participant_id    sub-0668
  site                   COI
  protocol                 5
  diag                     0
  age                     35
  sex                      2
  hand                   1.0
  sup                      2
  Name: 667, dtype: object],
 [participant_id    sub-1010
  site                   COI
  protocol                 5
  diag                     2
  age                     41
  sex                      1
  hand                   2.0
  sup                      2
  Name: 1009, dtype: object,
  participant_id    sub-0662
  site                   COI
  protocol                 5
  diag                     0
  age                     43
  sex                      1
  hand                   1.0
  sup                      2
  Name: 661, dtype: object],
 [participant_id    sub-0600
  site                   COI
  protocol                 5
  diag                     2
  age                     30
  sex                      2
  hand                   1.0
  sup                      2
  Name: 599, dtype: object,
  participant_id    sub-0608
  site                   COI
  protocol                 5
  diag                     0
  age                     32
  sex                      1
  hand                   1.0
  sup                      2
  Name: 607, dtype: object],
 [participant_id    sub-0543
  site                   COI
  protocol                 5
  diag                     2
  age                     41
  sex                      2
  hand                   1.0
  sup                      2
  Name: 542, dtype: object,
  participant_id    sub-0665
  site                   COI
  protocol                 5
  diag                     0
  age                     44
  sex                      2
  hand                   1.0
  sup                      2
  Name: 664, dtype: object],
 [participant_id    sub-1011
  site                   COI
  protocol                 5
  diag                     2
  age                     27
  sex                      1
  hand                   1.0
  sup                      2
  Name: 1010, dtype: object,
  participant_id    sub-0648
  site                   COI
  protocol                 5
  diag                     0
  age                     22
  sex                      2
  hand                   1.0
  sup                      2
  Name: 647, dtype: object],
 [participant_id    sub-0557
  site                   COI
  protocol                 5
  diag                     2
  age                     39
  sex                      2
  hand                   1.0
  sup                      2
  Name: 556, dtype: object,
  participant_id    sub-0532
  site                   COI
  protocol                 5
  diag                     0
  age                     45
  sex                      2
  hand                   1.0
  sup                      2
  Name: 531, dtype: object],
 [participant_id    sub-0577
  site                   COI
  protocol                 5
  diag                     2
  age                     28
  sex                      2
  hand                   1.0
  sup                      2
  Name: 576, dtype: object,
  participant_id    sub-0618
  site                   COI
  protocol                 5
  diag                     0
  age                     22
  sex                      1
  hand                   1.0
  sup                      2
  Name: 617, dtype: object],
 [participant_id    sub-1018
  site                   COI
  protocol                 5
  diag                     2
  age                     39
  sex                      2
  hand                   1.0
  sup                      2
  Name: 1017, dtype: object,
  participant_id    sub-0510
  site                   COI
  protocol                 5
  diag                     0
  age                     45
  sex                      2
  hand                   1.0
  sup                      2
  Name: 509, dtype: object],
 [participant_id    sub-1020
  site                   COI
  protocol                 5
  diag                     2
  age                     27
  sex                      1
  hand                   1.0
  sup                      2
  Name: 1019, dtype: object,
  participant_id    sub-0646
  site                   COI
  protocol                 5
  diag                     0
  age                     20
  sex                      2
  hand                   1.0
  sup                      2
  Name: 645, dtype: object],
 [participant_id    sub-0515
  site                   COI
  protocol                 5
  diag                     2
  age                     28
  sex                      1
  hand                   1.0
  sup                      2
  Name: 514, dtype: object,
  participant_id    sub-0536
  site                   COI
  protocol                 5
  diag                     0
  age                     20
  sex                      2
  hand                   1.0
  sup                      2
  Name: 535, dtype: object],
 [participant_id    sub-1016
  site                   COI
  protocol                 5
  diag                     2
  age                     28
  sex                      2
  hand                   1.0
  sup                      2
  Name: 1015, dtype: object,
  participant_id    sub-0592
  site                   COI
  protocol                 5
  diag                     0
  age                     38
  sex                      1
  hand                   1.0
  sup                      2
  Name: 591, dtype: object]]