In [1]:
import os
import pandas as pd
import numpy as np
import scipy.optimize
import matplotlib.pyplot as plt

dataset_location = '../SRPBS_OPEN/' # made a hard link to the dataset here

In [2]:
participants = pd.read_table(dataset_location+'participants.tsv')
participants

     participant_id site  protocol  diag  age  sex  hand  sup
0          sub-0001  SWA         1     0   23    1   1.0    1
1          sub-0002  SWA         1     0   23    2   1.0    1
2          sub-0003  SWA         1     0   26    1   1.0    1
3          sub-0004  SWA         1     0   23    1   1.0    1
4          sub-0005  SWA         1     0   24    1   1.0    1
...             ...  ...       ...   ...  ...  ...   ...  ...
1405       sub-1406  CIN        14     5   36    1   1.0    8
1406       sub-1407  CIN        14     5   56    2   1.0    8
1407       sub-1408  CIN        14     5   34    2   1.0    8
1408       sub-1409  CIN        14     5   56    1   1.0    8
1409       sub-1410  CIN        14     5   27    1   1.0    8

[1410 rows x 8 columns]

In [3]:
participants = participants.dropna()
participants

     participant_id site  protocol  diag  age  sex  hand  sup
0          sub-0001  SWA         1     0   23    1   1.0    1
1          sub-0002  SWA         1     0   23    2   1.0    1
2          sub-0003  SWA         1     0   26    1   1.0    1
3          sub-0004  SWA         1     0   23    1   1.0    1
4          sub-0005  SWA         1     0   24    1   1.0    1
...             ...  ...       ...   ...  ...  ...   ...  ...
1405       sub-1406  CIN        14     5   36    1   1.0    8
1406       sub-1407  CIN        14     5   56    2   1.0    8
1407       sub-1408  CIN        14     5   34    2   1.0    8
1408       sub-1409  CIN        14     5   56    1   1.0    8
1409       sub-1410  CIN        14     5   27    1   1.0    8

[1402 rows x 8 columns]

In [4]:
healthy_controls = participants[participants['diag'] == 0]
mdd_patients = participants[participants['diag'] == 2]

In [5]:
mdd_patients['site'].value_counts()

COI    71
UTO    59
HUH    57
HKH    33
KUT    16
HRC    16
Name: site, dtype: int64

In [6]:
healthy_controls['site'].value_counts()

KUT    159
COI    124
SWA    101
UTO     96
KTT     75
HUH     67
HRC     49
CIN     39
ATV     39
HKH     29
ATT     13
Name: site, dtype: int64

In [7]:
sites_in_common = set(mdd_patients.site).intersection(set(healthy_controls.site))

In [8]:
def write_subjects(subjects, site:str):
    subjects_ids = [int(subject[0].split('-')[1]) for subject in subjects]
    with open(f'{site}_all.txt','w') as f:
        f.write(str(subjects_ids))

In [9]:
write_subjects(healthy_controls.to_numpy(), 'hc')
write_subjects(mdd_patients.to_numpy(), 'mdd')

for site in sites_in_common:
    healthy_controls_at_site = healthy_controls[healthy_controls.site == site]
    mdd_patients_at_site = mdd_patients[mdd_patients.site == site]
    write_subjects(pd.concat((healthy_controls_at_site, mdd_patients_at_site)).to_numpy(), site)