In [2]:
import os
import pandas as pd
import numpy as np
import scipy.optimize
import matplotlib.pyplot as plt

dataset_location = '../SRPBS_OPEN/' # made a hard link to the dataset here

In [5]:
participants = pd.read_table(dataset_location+'participants.tsv')
participants

     participant_id site  protocol  diag  age  sex  hand  sup
0          sub-0001  SWA         1     0   23    1   1.0    1
1          sub-0002  SWA         1     0   23    2   1.0    1
2          sub-0003  SWA         1     0   26    1   1.0    1
3          sub-0004  SWA         1     0   23    1   1.0    1
4          sub-0005  SWA         1     0   24    1   1.0    1
...             ...  ...       ...   ...  ...  ...   ...  ...
1405       sub-1406  CIN        14     5   36    1   1.0    8
1406       sub-1407  CIN        14     5   56    2   1.0    8
1407       sub-1408  CIN        14     5   34    2   1.0    8
1408       sub-1409  CIN        14     5   56    1   1.0    8
1409       sub-1410  CIN        14     5   27    1   1.0    8

[1410 rows x 8 columns]

In [6]:
participants = participants.dropna()
participants

     participant_id site  protocol  diag  age  sex  hand  sup
0          sub-0001  SWA         1     0   23    1   1.0    1
1          sub-0002  SWA         1     0   23    2   1.0    1
2          sub-0003  SWA         1     0   26    1   1.0    1
3          sub-0004  SWA         1     0   23    1   1.0    1
4          sub-0005  SWA         1     0   24    1   1.0    1
...             ...  ...       ...   ...  ...  ...   ...  ...
1405       sub-1406  CIN        14     5   36    1   1.0    8
1406       sub-1407  CIN        14     5   56    2   1.0    8
1407       sub-1408  CIN        14     5   34    2   1.0    8
1408       sub-1409  CIN        14     5   56    1   1.0    8
1409       sub-1410  CIN        14     5   27    1   1.0    8

[1402 rows x 8 columns]

In [7]:
healthy_controls = participants[participants['diag'] == 0]
mdd_patients = participants[participants['diag'] == 2]

In [8]:
np.unique(participants.site.to_numpy())

array(['ATT', 'ATV', 'CIN', 'COI', 'HKH', 'HRC', 'HUH', 'KTT', 'KUT',
       'SWA', 'UTO'], dtype=object)

In [9]:
mdd_patients['site'].value_counts()

COI    71
UTO    59
HUH    57
HKH    33
HRC    16
KUT    16
Name: site, dtype: int64

In [10]:
healthy_controls['site'].value_counts()

KUT    159
COI    124
SWA    101
UTO     96
KTT     75
HUH     67
HRC     49
CIN     39
ATV     39
HKH     29
ATT     13
Name: site, dtype: int64

In [7]:
sites_in_common = set(mdd_patients.site).intersection(set(healthy_controls.site))

In [8]:
def write_subjects(subjects, site:str):
    subjects_ids = [int(subject[0].split('-')[1]) for subject in subjects]
    with open(f'{site}_all.txt','w') as f:
        f.write(str(subjects_ids))

In [9]:
write_subjects(healthy_controls.to_numpy(), 'hc')
write_subjects(mdd_patients.to_numpy(), 'mdd')

for site in sites_in_common:
    healthy_controls_at_site = healthy_controls[healthy_controls.site == site]
    mdd_patients_at_site = mdd_patients[mdd_patients.site == site]
    write_subjects(pd.concat((healthy_controls_at_site, mdd_patients_at_site)).to_numpy(), site)

## Outliers

In [14]:
import json
outlier_ids = json.loads(open('all_motion_outliers.txt','r').read())

In [16]:
outliers_data = participants[[int(name[-4:]) in outlier_ids for name in participants.participant_id.to_numpy()]]
outliers_data

     participant_id site  protocol  diag  age  sex  hand  sup
24         sub-0025  SWA         1     0   49    1   1.0    1
165        sub-0166  SWA         1     0   27    1   1.0    1
185        sub-0186  SWA         1     0   24    1   1.0    1
308        sub-0309  HUH         2     2   44    1   1.0    2
313        sub-0314  HUH         2     0   45    2   1.0    2
336        sub-0337  HUH         2     2   55    2   1.0    2
343        sub-0344  HUH         2     0   28    1   1.0    2
378        sub-0379  HRC         3     2   44    1   1.0    2
381        sub-0382  HRC         3     0   43    2   2.0    2
384        sub-0385  HRC         3     2   42    1   1.0    2
403        sub-0404  HRC         3     0   55    1   1.0    2
497        sub-0498  COI         5     2   52    2   1.0    2
499        sub-0500  COI         5     2   41    2   1.0    2
502        sub-0503  COI         5     0   66    2   1.0    2
535        sub-0536  COI         5     0   20    2   1.0    2
539        sub-0540  COI         5     0   52    2   1.0    2
544        sub-0545  COI         5     2   39    2   1.0    2
545        sub-0546  COI         5     0   47    2   1.0    2
546        sub-0547  COI         5     2   50    2   1.0    2
594        sub-0595  COI         5     2   48    2   1.0    2
600        sub-0601  COI         5     0   56    1   1.0    2
605        sub-0606  COI         5     2   50    1   1.0    2
623        sub-0624  COI         5     0   60    2   1.0    2
624        sub-0625  COI         5     0   49    2   1.0    2
626        sub-0627  COI         5     0   67    2   1.0    2
627        sub-0628  COI         5     0   68    2   1.0    2
633        sub-0634  COI         5     0   66    2   1.0    2
636        sub-0637  COI         5     0   65    1   1.0    2
637        sub-0638  COI         5     0   46    2   1.0    2
638        sub-0639  COI         5     0   42    2   1.0    2
640        sub-0641  COI         5     0   57    2   1.0    2
656        sub-0657  COI         5     0   48    2   1.0    2
658        sub-0659  COI         5     0   64    2   1.0    2
667        sub-0668  COI         5     0   35    2   1.0    2
724        sub-0725  KUT         6     0   39    1   1.0    4
797        sub-0798  KUT         6     0   24    1   1.0    4
813        sub-0814  KUT         6     0   41    2   1.0    4
882        sub-0883  KUT         6     2   22    1   1.0    5
953        sub-0954  KTT         7     0   28    1   1.0    4
966        sub-0967  KTT         7     0   20    2   1.0    4
1012       sub-1013  COI         5     2   31    1   1.0    2
1018       sub-1019  COI         5     2   45    2   1.0    2
1019       sub-1020  COI         5     2   27    1   1.0    2
1051       sub-1052  UTO         8     0   47    1   0.0    6
1056       sub-1057  UTO         8     0   35    1   1.0    6
1117       sub-1118  UTO         8     0   65    2   1.0    6
1188       sub-1189  UTO         8     2   48    1   1.0    6
1318       sub-1319  ATT        11     0   22    1   1.0    9
1344       sub-1345  ATT        12     0   23    1   1.0    9

In [18]:
outliers_data.site.value_counts()

COI    26
UTO     4
KUT     4
HUH     4
HRC     4
SWA     3
ATT     2
KTT     2
Name: site, dtype: int64

In [19]:
outliers_data.diag.value_counts()

0    34
2    15
Name: diag, dtype: int64